<h2><%=@creature.name%></h2>
<p><%=@creature.description%></p>
<%=link_to "Edit", edit_creature_path(@creature)%><br>
<%=link_to "All creatures", creatures_path%>
<%=button_to "Delete", @creature, method: :delete%>
